body{
 background: -webkit-linear-gradient(90deg, #215f00 10%, #e4e4d9 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #215f00 10%, #e4e4d9 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #215f00 10%, #e4e4d9 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #215f00 10%, #e4e4d9 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #215f00 10%, #e4e4d9 90%); /* W3C */         
}

#outside {
	margin: auto;
	border-radius: 50%;
	background: #996633;
	height: 500px;
	width: 500px;
	position: absolute;
    left: 150px;
    top: 200px;
}

#level1 {
	border-radius: 50%;
	height: 480px;
	width: 480px;
	background: #AD8533;
	position: absolute;
	top: 10px;
	left: 10px;
}

#level2 {
	border-radius: 50%;
	height: 440px;
	width: 440px;
	background: #FFCC00;
	position: absolute;
	top: 20px;
	left: 20px;
}

#roulette {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  background: 
    linear-gradient(9.36deg, red 14.15%, transparent 14.15%) 0 0,
    linear-gradient(18.72deg, black 25.31%, transparent 25.31%) 0 0,
    linear-gradient(28.08deg, red 34.79%, transparent 34.79%) 0 0,
    linear-gradient(37.44deg, black 43.36%, transparent 43.36%) 0 0,
    linear-gradient(46.8deg, red 51.57%, transparent 51.57%) 0 0,
    linear-gradient(56.16deg, black 59.86%, transparent 59.86%) 0 0,
    linear-gradient(65.52deg, red 68.71%, transparent 68.71%) 0 0,
    linear-gradient(74.88deg, black 78.73%, transparent 78.73%) 0 0,
    linear-gradient(83.88deg, red 90.32%, transparent 90.32%) 0 0,
    linear-gradient(93.24deg, black 106.00%, transparent 106.00%) 0 0,
    
    linear-gradient(-9.36deg, red 14.15%, transparent 14.15%) 100% 0,
    linear-gradient(-18.72deg, black 25.31%, transparent 25.31%) 100% 0,
    linear-gradient(-28.08deg, red 34.79%, transparent 34.79%) 100% 0,
    linear-gradient(-37.44deg, black 43.36%, transparent 43.36%) 100% 0,
    linear-gradient(-46.8deg, red 51.57%, transparent 51.57%) 100% 0,
    linear-gradient(-56.16deg, black 59.86%, transparent 59.86%) 100% 0,
    linear-gradient(-65.52deg, red 68.71%, transparent 68.71%) 100% 0,
    linear-gradient(-74.88deg, black 78.73%, transparent 78.73%) 100% 0,
    linear-gradient(-83.88deg, red 90.32%, transparent 90.32%) 100% 0,
    linear-gradient(-93.24deg, black 106.00%, transparent 106.00%) 100% 0,
    
    linear-gradient(9.36deg, transparent 85.85%, black 85.85%) 100% 100%,
    linear-gradient(18.72deg, transparent 74.69%, red 74.69%) 100% 100%,
    linear-gradient(28.08deg, transparent 65.21%, black 65.21%) 100% 100%,
    linear-gradient(37.44deg, transparent 56.64%, red 56.64%) 100% 100%,
    linear-gradient(46.8deg, transparent 48.43%, black 48.43%) 100% 100%,
    linear-gradient(56.16deg, transparent 40.14%, red 40.14%) 100% 100%,
    linear-gradient(65.52deg, transparent 31.29%, black 31.29%) 100% 100%,
    linear-gradient(74.88deg, transparent 21.27%, red 21.27%) 100% 100%,
    linear-gradient(83.88deg, transparent 9.68%, black 9.68%) 100% 100%,
    linear-gradient(93.24deg, transparent -6%, red -6%) 100% 100%,
    
    linear-gradient(-9.36deg, transparent 85.85%, black 85.85%) 0 100%,
    linear-gradient(-18.72deg, transparent 74.69%, red 74.69%) 0 100%,
    linear-gradient(-28.08deg, transparent 65.21%, black 65.21%) 0 100%,
    linear-gradient(-37.44deg, transparent 56.64%, red 56.64%) 0 100%,
    linear-gradient(-46.8deg, transparent 48.43%, black 48.43%) 0 100%,
    linear-gradient(-56.16deg, transparent 40.14%, red 40.14%) 0 100%,
    linear-gradient(-65.52deg, transparent 31.29%, black 31.29%) 0 100%,
    linear-gradient(-74.88deg, transparent 21.27%, red 21.27%) 0 100%,
    linear-gradient(-83.88deg, transparent 9.68%, black 9.68%) 0 100%,
    linear-gradient(-93.24deg, transparent -6%, red -6%) 0 100%,
    #43a1cd linear-gradient(#ba3e2e, #ba3e2e) 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  transition: 1s;
}

#middle {
	height: 100px;
	width: 100px;
	background: #996633;
	position: absolute;
	top: 150px;
	left: 150px;
	border-radius: 50%;
}

#crown {
	height: 40px;
	width: 40px;
	background: #E6E6E6;
	position: absolute;
	top: 30px;
	left: 30px;
	border-radius: 50%;
}




#single {
	word-spacing: 15px;

}

#double {
	word-spacing: 22px;
}

.table1 {
	background-color: green;
	border-collapse: collapse;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	width: 20%;
	height: auto;
	position: absolute;
    left: 340px;
    top: 0px;
	}

thead {
	background-color: #003366;
	font-size: 18px;
}

td {
	border: 2px solid white;
	padding: 4px 4px 4px 4px;
}

tfoot {
	font-size: 18px;
}

#thead tr {
	text-align: center;
}

.circle-container-red {
	position: relative;
    width: 2em;
    height: 1em;
    padding: 0.5em;
    background-color: red;
    border: 1px solid red;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: solid 1px;
    border-radius: 100%;
	margin: 0.5em auto 0.5em;
}

.circle-container-black {
    position: relative;
    width: 2em;
    height: 1em;
    padding: 0.5em;
    background-color: black;
    border: 1px solid black;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: solid 1px;
    border-radius: 100%;
    margin: 0.5em auto 0.5em;
}

#trapezoid {
	height: 0px;
	width: 230px;
	border-bottom: 80px solid blue;
	border-left: 45px solid green;
	border-right: 45px solid green;
	padding: 0 8px 0 0;
}

.rotate {
	transform: rotate(270deg);
}

h1{
	font-family: Papyrus;
    text-align: center;
	letter-spacing:0.1em;
	line-height:200%;
}
table {
	background-color: green;
	border-collapse: collapse;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	width: 20%;
	height: auto;
	border-style: solid;
    border-color: #DAA520; 
	border-spacing: 20px;
	position: relative;
	left: 990px;
	top: 493px;
	}
.td1 {
padding: 30px;
}
.td2 {
padding: 30px;
color:red;
font-weight:bold;
}
.td3 {
padding: 30px;
color:black;
font-weight:bold;
}
#roulette:hover {
       transform: rotate(360deg);
}